.connectstep {
  border-radius: 12px;
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.15);
  padding: 24px 30px;

  &__container {
    align-items: center;
    color: #1D2B4F;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    font-weight: 400;
    margin: 30px 0 40px 0;

    &__text {
      margin-right: 11px;
    }
  }

  &__divider {
    border: 1px solid #E2E8F0;
    margin: 25px 0;
  }

  &__button__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__disclaimer {
    color: #3D5A80;
    font-size: 14px;
  }
}
