.connectwallet {
  &__user {
    align-items: center;
    border-radius: 10px;    
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.05);
    display: flex;
    padding: 2px 4px;
    flex-direction: row;

    &__balance {
      margin-right: 8px;
    }

    &__address {
      background-color: #F6F8FB;
      font-weight: 500;
      border-radius: 10px;
      padding: 8px;
    }
  }
}
