@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.25px;
}

.block {
  display: block;
}

.h4 {
  @apply text-base font-medium capitalize text-blue-dark;
}

.h3 {
  @apply text-2xl font-medium capitalize text-blue-dark;
}

.h2 {
  @apply text-3xl font-medium capitalize text-blue-dark;
}

.subtitle {
  @apply text-sm text-blue-gray;
}

.text-gradient {
  @apply bg-mainHorizontal bg-clip-text text-transparent;
}
